* {
margin:0; padding:0;
}


body{
	/* background:url(/images/bg_red.jpg) top center no-repeat #dfe6ee;*/
	background:#191919;
	background-position:0 20px;
	font-family:normal 0.7em "Helvetica Nueue", Arial, Sans-Serif;
	color:#fff;
	width:100%;
	min-width: 800px;
	font-size:16px;
}

span {
	color:#00FF00;
	font-weight:bold;
}

.input{
	font-family: verdana; 
	font-size: 13px; 
	font-weight: bold; 
	color: #00FF00; 
	background: #191919; 
	BORDER-RIGHT: 1px solid #fff; 
	BORDER-TOP: 1px solid #fff; 
	BORDER-LEFT: 1px solid #fff; 
	BORDER-BOTTOM: 1px solid #fff;
	text-align:center;
	height: 19px;
}
.query {
    background: #191919; 
    color: #fff;
    font-family: "Sans-Serif";
    font-size: 12px;
    height: 22px;
    padding: 1px;
	BORDER-RIGHT: 1px solid #fff; 
	BORDER-TOP: 1px solid #fff; 
	BORDER-LEFT: 1px solid #fff; 
	BORDER-BOTTOM: 1px solid #fff;
}
.clear {
	clear:both;
}
.blank {
	width:100%;
	margin:0 auto;
	height:10px;
}
.top {
	width:970px;
	height:80px;
	margin:0 auto;
	text-align:center;
	float: none;
	margin-top:10px;
	margin-bottom:10px;
}


.top.head{
	width:970px;
	height:80px;
	margin:0 auto;
	line-height: 110%;
	text-align:center;
	float:none;
	overflow:hidden;
}
.mid {
	width:970px;
	margin:0 auto;
	text-align:center;	
}
.mid .ipis {
	width:100%;
	height:25px;
	line-height:25px;
	margin:0 auto;
	text-align:center;
}
.bot a{
	text-align:center;
	text-decoration:none;
}
.top a {
	color:#FFF;
}
.top a:visited {
	color:#FFF;
}
.top a:hover{
	color:#FFF;
}
.top a.up {
	color:#00FF00;
}
.top a.up:visited {
	color:#00FF00;
}
.top a.up:hover{
	color:#00FF00;
}
#links{
	width:100%;
	margin:0 auto;
	list-style-type:none;padding:20px 0 0 0;
	float:none;
	text-align:center;
}
#links ul{
	list-style-type:none;
	width:100%;
	margin-bottom:.5em;
	border-top:1px solid #222;
	text-align:center;
}
#links ul li{
	width:24.9%;
	display:inline;
	float:left;
}
#links a{
	text-align:center;
	text-decoration:none;
	display:block;
	padding:0.3em 20px 0.3em 10px;
	border-bottom:1px solid #222;
	height:15px;
}
#linklist a {
	color:#fff;
	background:transparent;	
}
#linklist a:visited {
	color:#fff;
}
#linklist a:hover{
	background:#B3D169;
	color:#191919;
	text:expression(target="_blank"); 
}
.bot {
	width:970px;
	text-align:center;
	margin:0 auto;
	border-top:10px;
}
.bot a{
	text-align:center;
	text-decoration:none;
}
.bot a {
	color:#FFF;
}
.bot a:visited {
	color:#FFF;
}
.bot a:hover{
	color:#FFF;
}
.bot a.up {
	color:#00FF00;
}
.bot a.up:visited {
	color:#00FF00;
}
.bot a.up:hover{
	color:#00FF00;
}
.botip {
	width:30%;
	text-align:left;
	margin:0 auto;
	border-top:10px;
}
.botip a{
	text-align:center;
	text-decoration:none;
}
.botip a {
	color:#FFF;
}
.botip a:visited {
	color:#FFF;
}
.botip a:hover{
	color:#FFF;
}
.botip a.up {
	color:#00FF00;
}
.botip a.up:visited {
	color:#00FF00;
}
.botip a.up:hover{
	color:#00FF00;
}
#monyer {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#monyer .t {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#monyer .t .txt {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#monyer .t .bt {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#monyer .t .bt ul {
	list-style:none;
	width:99%;
	margin:0 auto;
	text-align:center;	
}
#monyer .t li {
	width:9%;
	float:left;
}
#monyer .m {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#monyer .m .l {
	width:60%;
	float:left;
	text-align:right;
}
#monyer .m .r {
	width:37%;
	float:left;
	text-align:left;
	margin-left:10px;
}
#monyer .m .r ul {
	width:100%;
	list-style:none;
	text-align:left;	
}
#monyer .m .r li {
	width:100%;
	margin-bottom:2px;	
}
#monyer .b {
	width:100%;
	margin-top:2px;
}
#example {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#example .t {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#example .m {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#example .b {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#zizzy {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#zizzy .t {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#zizzy .t ul {
	width:100%;
	margin:0 auto;
	list-style:none;
	text-align:center;
}
#zizzy .t li {
	width:14%;
	margin:0 auto;
	text-align:center;
	float:left;
}
#zizzy .m {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#zizzy .b {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#md5encode {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#md5encode .t {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#md5encode .m {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#md5encode .b {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#icyfoxscript {
	width:80%;
	margin:0 auto;
	text-align:center;
}
#icyfoxscript .t {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#icyfoxscript .t ul {
	width:100%;
	list-style:none;
	margin:0 auto;
	text-align:center;
}
#icyfoxscript .t li {
	width:24.9%;
	margin:0 auto;
	text-align:center;
	float:left;
}
#icyfoxscript .t input { 
	margin:0 auto; 
	text-align:center; 
	width: 165px; 
}
#icyfoxscript .m {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#icyfoxscript .m ul {
	width:100%;
	list-style:none;
	margin:0 auto;
	text-align:center;
}
#icyfoxscript .m li {
	width:24.9%;
	margin:0 auto;
	text-align:center;
	float:left;
}
#icyfoxscript .m input { 
	margin:0 auto; 
	text-align:center; 
	width: 165px; 
}
#icyfoxscript .b {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#icyfoxscript .b ul {
	width:100%;
	list-style:none;
	margin:0 auto;
	text-align:center;
}
#icyfoxscript .b li {
	width:19.9%;
	margin:0 auto;
	text-align:center;
	float:left;
}
#icyfoxscript .b input { 
	margin:0 auto; 
	text-align:center; 
	width: 150px; 
}
#icyfoxscript .b .url {
	width:100%;
	text-align:left;
	margin:0 auto;
}
#icyfoxscript .b .url input.htp { 
	margin:0 auto; 
	text-align:left; 
	width: 583px; 
}
#icyfoxscript .b .url input.view { 
	margin:0 auto; 
	text-align:center; 
	width: 150px; 
}
#asciiconverter {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#asciiconverter .t {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#asciiconverter .m {
	width:60%;
	margin:0 auto;
	text-align:center;
}
#asciiconverter .m ul {
	width:100%;
	list-style:none;
	margin:0 auto;
	text-align:left;
}
#asciiconverter .m li {
	width:100%;
	margin:0 auto;
	line-height:30px;
	text-align:center;
	float:left;
}
#asciiconverter .m input.bt {
	width:180px;
}
#asciiconverter .b {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#asciiconverter .b input {
	width:100px;
	margin:0 auto;
	text-align:center;
}
#jsencode {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#jsencode .t {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#jsencode .m {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#jsencode .b {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#unicode {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#unicode .t {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#unicode .m {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#unicode .b {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#encode {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#encode .t {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#encode .m {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#encode .b {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#htmltojs {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#htmltojs .t {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#htmltojs .m {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#htmltojs .b {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#jstohtml {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#jstohtml .t {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#jstohtml .m {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#jstohtml .b {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#htmltoasp {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#htmltoasp .t {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#htmltoasp .m {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#htmltoasp .b {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#htmltophp {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#htmltophp .t {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#htmltophp .m {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#htmltophp .b {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#htmltoubb {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#htmltoubb .t {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#htmltoubb .m {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#htmltoubb .m .s {
	width:80%;
	margin:0 auto;
	text-align:center;
}
#htmltoubb .m .s .zuo {
	width:50%;
	float:left;
}
#htmltoubb .m .s .zuo ul {
	width:100%;
	list-style:none;
	margin:0 auto;
}
#htmltoubb .m .s .zuo li {
	width:33%;
	float:left;
}
#htmltoubb .m .s .zuo input {
	width:120px;
	height:40px;
}
#htmltoubb .m .s .you {
	width:50%;
	float:right;
}
#htmltoubb .m .s .you ul {
	width:100%;
	list-style:none;
	margin:0 auto;
}
#htmltoubb .m .s .you li {
	width:33%;
	float:left;
}
#htmltoubb .m .s .you input {
	width:120px;
	height:20px;
}
#htmltoubb .m .z {
	width:80%;
	margin:0 auto;
}
#htmltoubb .m .z ul {
	width:100%;
	list-style:none;
	margin:0 auto;
}
#htmltoubb .m .z li {
	width:14%;
	float:left;
	text-align:left;
}
#htmltoubb .m .x {
	width:80%;
	margin:0 auto;
	text-align:center;
}
#htmltoubb .m .x .zuo {
	width:55%;
	float:left;
}
#htmltoubb .m .x .zuo ul {
	width:100%;
	list-style:none;
	margin:0 auto;
}
#htmltoubb .m .x .zuo li {
	width:49.9%;
	float:left;
}
#htmltoubb .m .x .you {
	width:45%;
	float:right;
}
#htmltoubb .m .x .you ul {
	width:92%;
	list-style:none;
	margin:0 auto;
}
#htmltoubb .m .x .you li {
	text-align:left;
	width:33%;
	float:left;
}
#htmltoubb .b {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#htmltoubb .b .sha {
	width:80%;
	margin:0 auto;
}
#htmltoubb .b .sha .zuob {
	width:65%;
	float:left;
	text-align:left;
}
#htmltoubb .b .sha .zuob ul {
	width:100%;
	list-style:none;
}
#htmltoubb .b .sha .zuob li {
	width:100%
}
#htmltoubb .b .sha .youb {
	width:35%;
	float:right;
	text-align:left;
}
#htmltoubb .b .sha .youb ul {
	width:100%;
	list-style:none;
}
#htmltoubb .b .sha .youb li {
	width:100%
}
#htmltoubb .b .xia {
	width:80%;
	margin:0 auto;
	text-align:left;
}
#htmltoubb .b .xia ul {
	width:100%;
	list-style:none;
	text-align:left;
}
#htmltoubb .b .xia li {
	width:100%;
}
#new_shellcode {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#new_shellcode .t {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#new_shellcode .m {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#new_shellcode .b {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#newvbs {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#newvbs .t {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#newvbs .m {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#newvbs .b {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#jscode {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#jscode .t {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#jscode .m {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#jscode .b {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#jsvbscode {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#jsvbscode .t {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#jsvbscode .m {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#jsvbscode .b {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#online_base64_decode {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#online_base64_decode .t {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#online_base64_decode .m {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#online_base64_decode .b {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#depali {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#depali .t {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#depali .t .t1 {
	float:right;
}
#depali .m {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#depali .m .tit {
	text-align:center;
	margin-left:10px;
}
#depali .m ul {
	width:100%;
}
#depali .m li {
	width:100%;
}
#depali .b {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#hack_1337 {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#hack_1337 .t {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#hack_1337 .m {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#hack_1337 .m .s {
	width:100%;
	margin:0 auto;
	text-align:center;	
}
#hack_1337 .m .z {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#hack_1337 .m .z ul {
	width:100%;
	list-style:none;
}
#hack_1337 .m .z li {
	width:33%;
	float:left;
	margin-left:1.5px;
}
#hack_1337 .m .x {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#hack_1337 .b {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#krid {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#krid .t {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#krid .m {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#krid .m ul {
	width:100%;
	list-style:none;
}
#krid .m li {
	width:24.9%;
	float:left;
}
#krid .m .tab {
	width:100%;
	text-align:left;
}
#krid .m .tab button {
	width:95%;
}
#krid .m .tab input.dis {
	background:transparent;
	border:0;
	color:#00FF00;
	font-weight: bold;
	font-size:13px;
	font: Arial, Sans-Serif;
}
#krid .m .tab ul {
	width:100%;
	list-style:none;
}
#krid .m .tab li {
	width:100%;
	text-align:left;
}
#krid .m .tab li.text {
	width:100%;
	text-align:center;
}
#krid .b {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#phone {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#phone .t {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#phone .t a {
	color:#00FF00;
}
#phone .m {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#phone .b {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#xss {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#xss .t {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#xss .m {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#xss .m .txt {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#xss .m .txt .l {
	width:20%;
	float:left;
	text-align:right;
}
#xss .m .txt .r {
	width:80%;
	float:left;
	text-align:left;
}
#xss .m .txt .bt {
	text-align:center;
}
#xss .b {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#translation {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#translation .t {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#translation .m {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#translation .m .txt {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#translation .m .txt .l {
	width:32%;
	height:75px;
	line-height:75px;
	float:left;
	text-align:right;
}
#translation .m .txt .l_1 {
	width:32%;
	height:25px;
	line-height:25px;
	float:left;
	text-align:right;
}
#translation .m .txt .r {
	width:65%;
	float:left;
	text-align:left;
	margin-left:2px;
}
#translation .m .txt .bt {
	text-align:center;
}
#translation .b {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#ascii {
	width:80%;
	margin:0 auto;
	text-align:center;
}
#ascii .t {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#ascii .m {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#ascii .m .s {
	width:100%;
}
#ascii .m .s ul {
	width:100%;
	text-align:center;
	list-style:none;
}
#ascii .m .s li {
	width:33%;
	float:left;
}
#ascii .m .s li.l {
	text-align:left;
}
#ascii .m .x {
	width:100%;
}
#ascii .m .x ul {
	width:100%;
	text-align:left;
	list-style:none;
}
#ascii .m .x li {
	width:100%;
	float:left;
}
#ascii .b {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#portscan {
	width:60%;
	margin:0 auto;
	text-align:center;
}
#portscan a {
	color:#fff;
}
#portscan .t {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#portscan .m {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#portscan .m ul {
	width:100%;
	list-style:none;
}
#portscan .m li {
	width:24.9%;
	float:left;
	height:20px;
}
#portscan .b {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#portscan .b a {
	color:#fff;
}
#vbscode {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#vbscode .t {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#vbscode .m {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#vbscode .b {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#md5 {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#md5 .t {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#md5 .m {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#md5 .m .txt {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#md5 .m .txt .l {
	width:30%;
	float:left;
	text-align:right;
}
#md5 .m .txt .r {
	width:70%;
	float:right;
	text-align:left;
}
#md5 .b {
	width:100%;
	margin:0 auto;
	text-align:left;
}
#jsformat {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#jsformat .t {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#jsformat .m {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#jsformat .b {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#flashfxp {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#flashfxp .t {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#flashfxp .m {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#flashfxp .m .txt {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#flashfxp .m .txt .l {
	width:30%;
	float:left;
	text-align:right;
}
#flashfxp .m .txt .r {
	width:70%;
	float:right;
	text-align:left;
}
#flashfxp .b {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#pcanywhere {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#pcanywhere .t {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#pcanywhere .m {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#pcanywhere .m .txt {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#pcanywhere .m .txt .l {
	width:40%;
	float:left;
	text-align:right;
}
#pcanywhere .m .txt .r {
	width:60%;
	float:right;
	text-align:left;
}
#pcanywhere .b {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#shell2exe {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#shell2exe .t {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#shell2exe .m {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#shell2exe .b {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#shell2exe .b a {
	color:#fff;
	text-decoration:none;
}
#winwebmail {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#winwebmail .t {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#winwebmail .m {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#winwebmail .b {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#fromcharcode {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#fromcharcode .t {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#fromcharcode .m {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#fromcharcode .b {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#thunder {
	width:80%;
	margin:0 auto;
	text-align:center;
}
#thunder .t {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#thunder .m {
	width:80%;
	margin:0 auto;
	text-align:center;
}
#thunder .m .txt {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#thunder .m .txt .l {
	width:20%;
	height:25px;
	line-height:25px;
	float:left;
	text-align:right;
}
#thunder .m .txt .l_1 {
	width:20%;
	height:25px;
	line-height:25px;
	float:left;
	text-align:right;
}
#thunder .m .txt .r {
	width:78%;
	float:left;
	text-align:left;
	margin-left:2px;
}
#thunder .m .txt .r_1 {
	width:78%;
	float:left;
	text-align:left;
	margin-left:2px;
	table-layout:fixed;
	word-break:break-all;
}
#thunder .m .txt .r_1 a {
	color:#00FF00;
}
#thunder .m .txt .bt {
	text-align:center;
}
#thunder .b {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#virus {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#virus .t {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#virus .m {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#virus .m .scan {
	width:90%;
	margin:0 auto;
}
#virus .m .scan .l {
	width:60%;
	float:left;
	text-align:right;
}
#virus .m .scan .l input {
	height:22px;
}
#virus .m .scan .r {
	width:35%;
	height:22px;
	line-height:22px;
	float:left;
	text-align:left;
	margin-left:30px;
}
#virus .m .scan .r a {
	color:#fff;
}
#virus .b {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#enshellcode {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#enshellcode .t {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#enshellcode .m {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#enshellcode .b {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#spliter {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#spliter .t {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#spliter .m {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#spliter .b {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#cuteftp {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#cuteftp .t {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#cuteftp .m {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#cuteftp .m .txt {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#cuteftp .m .txt .l {
	width:30%;
	float:left;
	text-align:right;
}
#cuteftp .m .txt .r {
	width:70%;
	float:right;
	text-align:left;
}
#cuteftp .b {
	width:80%;
	margin:0 auto;
	text-align:center;
}
#cuteftp .b .txt {
	width:100%;
	margin:0 auto;
	text-align:left;
	margin-left:100px;
}
#leapftp {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#leapftp .t {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#leapftp .m {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#leapftp .m .txt {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#leapftp .m .txt .l {
	width:30%;
	float:left;
	text-align:right;
}
#leapftp .m .txt .r {
	width:70%;
	float:right;
	text-align:left;
}
#leapftp .b {
	width:80%;
	margin:0 auto;
	text-align:center;
}
#leapftp .b .txt {
	width:100%;
	margin:0 auto;
	text-align:left;
	margin-left:100px;
}
#foxmail {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#foxmail .t {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#foxmail .m {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#foxmail .m .txt {
	width:100%;
	margin:0 auto;
	text-align:center;
}
#foxmail .m .txt .l {
	width:30%;
	float:left;
	text-align:right;
}
#foxmail .m .txt .r {
	width:70%;
	float:right;
	text-align:left;
}
#foxmail .b {
	width:80%;
	margin:0 auto;
	text-align:center;
}
#foxmail .b .txt {
	width:100%;
	margin:0 auto;
	text-align:left;
	margin-left:100px;
}

#container
{
    border: 1px #9B9C83 solid;
    -moz-border-radius: 8px;
    margin: auto;
    padding: 5px;
    width: 700px;
}

#title
{
    color: #CC6633;
    margin: 0;
}

ul#navigation, ul#form
{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul#navigation
{
    float: right;
}

ul#form
{
    clear: both;
}

ul#navigation li
{
    float: left;
    margin: 0;
    padding: 5px 0;
    border-top: 2px #BFAA9B solid;
	
}

ul#navigation li a
{
	
    font-weight: bold;
    color: #ffffff;
    background-color: #AA8E79;
    padding: 5px 15px;
    margin-left: 1px;
    text-decoration: none;
    border-bottom: 0 #ffffff solid;
}

ul#navigation li  a:hover
{

    color: #44352C;
}

ul#form li
{	color: #44352C;
    width: 700px;
}

#footer
{
    color: #9B9C83;
    font-size: small;
    text-align: right;
}

#address_bar
{
    border-top: 2px #BFAA9B solid;
    border-bottom: 3px #44352C solid;
    background-color: #AA8E79;
    text-align: center;
    padding: 5px 0;
    color: #ffffff;
}

#go
{
    background-color: #ffffff;
    font-weight: bold;
    color: #AA8E79;
    border: 0 #ffffff solid;
    padding: 2px 5px;
}

#address_box
{
    width: 500px;
}

.option
{
    padding: 2px 0;
    background-color: #EEEBEA;
}

.option label
{
    border-bottom: 2px #ffffff solid;
}

form
{
    margin: 0;
}

#error, #auth
{
    background-color: #BF6464;
    border-top: 1px solid #44352C;
    border-bottom: 1px solid #44352C;
    width: 700px;
    clear: both;
}

#auth
{
    background-color: #94C261;
}

#error p, #auth p, #auth form
{
    margin: 5px;
}
.mt
{
  width:760;
  text-align:center;
  clear:both;
  line-height:22px;
}


