<div class="footer clearfix">
  <div class="col-md-12">
		  <!--for better experience please install font 文泉驿等宽正黑-->
Since March 2016 the 3xp10it.cc has been running  <span id="times" style="align: center no:1px solid black"></span><br />
	<SCRIPT language=javascript> 
	<!-- 
	function show_date_time(){ 
		window.setTimeout("show_date_time()", 1000); 
		BirthDay=new Date("3/7/2016 20:00:00");
		today=new Date(); 
		timeold=(today.getTime() - BirthDay.getTime()); 
		sectimeold=timeold/1000 
		secondsold=Math.floor(sectimeold); 
		msPerDay=24*60*60*1000 
		e_daysold=timeold/msPerDay 
		daysold=Math.floor(e_daysold); 
		e_hrsold=(e_daysold-daysold)*24; 
		hrsold=Math.floor(e_hrsold); 
		e_minsold=(e_hrsold-hrsold)*60; 
		minsold=Math.floor((e_hrsold-hrsold)*60); 
		seconds=Math.floor((e_minsold-minsold)*60); 
		//times = document.getElementById("times");
		times.innerHTML="<span>"+daysold+ "days " +hrsold+"hours "+minsold+"minutes"+seconds+"seconds"+"</span>" ; 
	} 
	show_date_time(); 
	//--> 
	</SCRIPT>
  </div>
</div>

<div class="my-home"><i class="fa fa-home" aria-hidden="true"></i><a href="{{ site.baseurl }}/index2.html"> <font color="white">home</font></a></div>
<div class="my-papers"><i class="fa fa-github" aria-hidden="true"></i><a href="https://github.com/3xp10it" target="_top"> <font color="white">papers</font></a></div>
<div class="my-search"><i class="fa fa-search" aria-hidden="true"></i><a href="{{ site.baseurl }}/search/"> <font color="white">search</font></a></div>
<div class="my-archive"><i class="fa fa-apple" aria-hidden="true"></i><a href="{{ site.baseurl }}/my-archive/"> <font color="white">archive</font></a></div>
<div class="my-categories"><i class="fa fa-tags" aria-hidden="true"></i><a href="{{ site.baseurl }}/my-categories/"> <font color="white">categories</font></a></div>


<script src="{{ site.baseurl }}/js/jquery-1.11.0.min.js"></script>
<script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
<script src="{{ site.baseurl }}/js/jquery.mmenu.min.all.js"></script>
<script src="{{ site.baseurl }}/js/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
<script type="text/javascript">
   $(document).ready(function() {
      $("#my-menu").mmenu().on( "closed.mm", function() {
            $(".menu-button").show();
         });
      $(".menu-button").click(function() {
        $(".menu-button").hide();
        $("#my-menu").trigger("open.mm");
      });
   });
</script>

{% if page.make-smaller-titles %}
<script type="text/javascript">

  function setFontSize() {

    var title, dateOfTitle, fontSizeOfTitle, listOfA, listOfSmall, listOfArticlesDiv, divWidth;

    listOfArticlesDiv = document.getElementsByClassName("articles");

    for (i = 0; i < listOfArticlesDiv.length; i++) {

      listOfA = document.getElementsByClassName("articles")[i].getElementsByTagName("a");
      listOfSmall = document.getElementsByClassName("articles")[i].getElementsByTagName("small");

      divWidth = document.getElementsByClassName("articles")[i].offsetWidth;

      for (k = 0; k < listOfSmall.length; k++) {

        title = $(listOfA[k]);
        dateOfTitle = $(listOfSmall[k]);

        fontSizeOfTitle = startingFontSize;
        title.css("font-size", fontSizeOfTitle);

        while (title.width() + dateOfTitle.width() >= divWidth)
          title.css("font-size", fontSizeOfTitle -= 0.5);

      }
    }
  }

  function getStartFontSize() {
    try {
      startingFontSize = parseInt($(document.getElementsByClassName("articles")[0].getElementsByTagName("a")[0]).css("font-size"));
      setFontSize();
      window.addEventListener('resize', setFontSize, true);
    } catch (e) {}
  }

  $(document).ready(getStartFontSize);

</script>
{% endif %}

{% if site.google_analytics %}
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '{{ site.google_analytics }}']);
          _gaq.push(['_trackPageview']);
  (function () {
      var ga = document.createElement('script');
      ga.type = 'text/javascript';
      ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'https://www') + '.google-analytics.com/ga.js';

      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(ga, s);
  })();
</script>
{% endif %}

<script type="text/javascript"> 
$youziku.load("h1,h2,h3,h4,h5,h6,.highlighter-rouge,.content,.content-panel,.gravatar,pre,body", "354f6990dc1b43608d3eb96d50273504", "WenQuanYi_Zen_Hei_Mono");
$youziku.draw(); 
</script>
