<nav id="my-menu">
  <div>
    <p>{{ site.title }}</p>


    
    <center>
    <font color="red" align="center"><i class="fa fa-link" aria-hidden="true"></i><a href="../../../../../bookmarks.html"><font color="red"> link</font></a></font>
    <br>
    <br>
    <font color="red" align="center"><i class="fa fa-key" aria-hidden="true"></i><a href="../../../../../book.html" target="_top"><font color="red"> book</font></a></font>
    <br>
    <br>
    <font color="red" align="center"><i class="fa fa-music" aria-hidden="true"></i><a href="../../../../../jquery-jplayer/index.html" target="_top"><font color="red"> music</font></a></font>
    <br>
    <br>
    <font color="red" align="center"><i class="fa fa-caret-square-o-right" aria-hidden="true"></i><a href="../../../../../mv.html" target="_top"><font color="red"> movie</font></a></font>
    </center>
    {% include social_links.html %}
  </div>
</nav>
<div class="menu-button" href="#menu"><i class="fa fa-bars"></i></div>

